{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/main.css' %}">
    <script type="text/javascript" src="{% static 'main/main.js' %}"></script>
    <title>Shop - {%  block title %}{% endblock %}</title>
</head>
<body>
<div>user: {{ request.user.username }}</div>
<h1>Корзина</h1>
<div>
    {% for good in cart_goods %}{{ good.id }},{% endfor %}
</div>
<h1>Поиск</h1>
<form method="post" id="search-form">
    {% csrf_token %}
    {{ form }}
    <input id="search-button" type="submit" value="Поиск">
</form>
<h1>Категории</h1>
<ul>
    {% for category in list_categories %}
    <li><a href="{% url 'category' category.id %}">{{ category.title }}</a></li>
    {% endfor %}
</ul>
<h1>Товары</h1>
{% block content %}{% endblock %}
</body>
</html>