img {
  /* height: 200px; */
  width: 400px;
  display: block;
  padding: 20px;
  margin: 10px;
  border: solid 1px salmon;
  /* background-color: powderblue; */
}

#base_text {
  /* height: 200px; */
  position: absolute;
  left: 500px;
  width: 800px;
  padding: 20px;
  border: solid 1px salmon;
  font-size: 40px;
  /* background-color: powderblue; */
}

.dog {
    display: inline;
    border: solid 1px green;
}

#u44 {
    position: static;
    display: block;
    left: 0px;
    background-color: salmon;
}

.u div {
    display: none;
}